# Dependencies
node_modules/
**/node_modules/

# Builds and outputs
dist/
frontend/dist/
server/dist/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors/OS
.vscode/
.DS_Store
Thumbs.db

# Misc
*.local
